@charset "UTF-8";

@import "~materialize-css/sass/components/color-variables";
@import "~materialize-css/sass/components/color-classes";
@import "style/colors";
@import "~materialize-css/sass/components/variables";
@import "~materialize-css/sass/components/normalize";
@import "~materialize-css/sass/components/global";
@import "~materialize-css/sass/components/badges";
@import "~materialize-css/sass/components/icons-material-design";
@import "~materialize-css/sass/components/grid";
@import "~materialize-css/sass/components/navbar";
@import "~materialize-css/sass/components/typography";
@import "~materialize-css/sass/components/transitions";
@import "~materialize-css/sass/components/cards";
@import "~materialize-css/sass/components/toast";
@import "~materialize-css/sass/components/tabs";
@import "~materialize-css/sass/components/tooltip";
@import "~materialize-css/sass/components/buttons";
@import "~materialize-css/sass/components/dropdown";
@import "~materialize-css/sass/components/waves";
@import "~materialize-css/sass/components/modal";
@import "~materialize-css/sass/components/collapsible";
@import "~materialize-css/sass/components/chips";
@import "~materialize-css/sass/components/materialbox";
@import "~materialize-css/sass/components/forms/forms";
@import "~materialize-css/sass/components/table_of_contents";
@import "~materialize-css/sass/components/sidenav";
@import "~materialize-css/sass/components/preloader";
@import "~materialize-css/sass/components/slider";
@import "~materialize-css/sass/components/carousel";
@import "~materialize-css/sass/components/tapTarget";
@import "~materialize-css/sass/components/pulse";
@import "~materialize-css/sass/components/datepicker";
@import "~materialize-css/sass/components/timepicker";
@import "./style/modal.scss";

body {
  background-color: #f5f5f5;
}

#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.swal-button {
  font-weight: unset;
}

span.helper-text:first-letter {
  text-transform: uppercase;
}

.helper-text + .helper-text {
  margin-top: 5px;
}

.switch label .lever {
  margin-left: 0;
}

main {
  flex: 1 0 auto;
}

.page-footer {
  padding: 10px 0;
}

ul.tabs {
  display: flex;

  li {
    flex-grow: 1;
  }
}

.waves-effect.waves-gray .waves-ripple {
  background-color: rgba(0, 0, 0, 0.08);
}

table th {
  top: 0;
  position: -webkit-sticky;
  position: sticky;
  z-index: 2;
  background: #FFF;
  border-radius: 0;
  font-size: 16px;
  font-weight: 500;

  &:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-bottom: 1px solid rgba(212, 212, 212, 0.7);
  }
}

.swal2-actions {
  button + button {
    margin-left: 20px;
  }
}
