.data-table {
  &__actions {
    & > * {
      margin-left: 10px;


      &:first-child {
        margin-left: 0;
      }
    }
  }

  &__wrapper {
    position: relative;
    width: 100%;
  }

  &__header {
    top: 0;
    position: -webkit-sticky;
    position: sticky;
    z-index: 2;

    & > .data-table__scroller > .data-table__column:first-child {
      position: sticky;
      left: 0;
      z-index: 2
    }
  }

  &__scroller {
    overflow-x: hidden;
  }

  &__body, &__scroller {
    display: flex;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
  }

  &__body {
    overflow: auto;
    scroll-snap-type: x mandatory;

    & > .data-table__column:first-child {
      position: sticky;
      left: 0;
    }

  }

  &__scenes::-webkit-scrollbar,
  &__scroller::-webkit-scrollbar {
    display: none;
  }

  &__column {
    flex: 1 0 calc(15% + 2px);
    overflow: hidden;

    &--large {
      flex: 1 0 calc(25% + 2px);
    }

    &--small {
      flex: 1 0 calc(10% + 2px);
    }
  }

  &__header-item {
    white-space: nowrap;
    padding: 15px 5px 15px 5px;
    height: 3.5em;

    position: -webkit-sticky;
    position: sticky;
    top: 0;

    border-bottom: 1px solid rgba(212, 212, 212, 0.7);

    background: #fff;
    z-index: 1;

    font-size: 16px;
    font-weight: 500;

    &--sortable {
      cursor: pointer;

      & svg {
        color: #a2a2a2;
      }
    }

    & > svg {
      margin-left: 7px;
    }

    align-items: center;
  }

  &__cell {
    padding: 15px 5px;
    height: 4em;

    &:nth-child(odd) {
      background-color: #f8f8f8;
    }

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: #FFF;
  }

  @media (max-width: 767px) {
    &__column {
      flex: 1 0 calc(50% + 7px);
    }
  }

}



